.interface-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: right; /* Align text to the right */
}

.interface-header {
  margin-bottom: 30px;
  color: #007BFF;
}

.select-container {
  margin-bottom: 20px;
  text-align: right; /* Align text to the right */
}

.label {
  margin-right: 10px;
  font-size: 18px;
}

.select {
  padding: 10px;
  font-size: 16px;
  text-align: right; /* Align text to the right */
}

.form-group {
  margin-bottom: 10px;
  text-align: right; /* Align text to the right */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align input fields to the right */
}

.input {
  padding: 10px;
  font-size: 16px;
  text-align: right; /* Align text to the right */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
