/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.interface-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.interface-header {
    margin-bottom: 30px;
    color: #007BFF;
    font-size: 24px;
    text-align: center;
}

.select-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-bottom: 10px;
    font-size: 18px;
}

.select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.chooser {
    display: flex;
    justify-content: space-around;
}

/* Grid Layout for ClassBooking */
.class-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Styles for ClassItem */
.class-item {
    height: 200px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-info {
    flex: 1;
}

.class-name {
    margin: 0;
    font-size: 20px;
    color: #007BFF;
}

.class-time {
    margin: 0;
}

.class-details p {
    margin: 5px 0;
}

.book-button {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
